@import "assets/styles/variables";

html,
body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-attachment: fixed;
  color: white;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
  filter: brightness(0) invert(1);
}

.mat-snack-bar-container {
  &.error {
    background-color: $color-error;
    color: white;
  }

  .mat-simple-snackbar {
    white-space: pre-line;
  }

  .mat-simple-snackbar-action {
    color: white;
  }
}
